es_host: localhost
es_port: 9200
name: application alert
type: frequency
index: app-*
num_events: 1
timeframe:
    minutes: 5
include: ["@timestamp", "appname", "loglevel", "realmessage"]
filter:
- query:
    query_string:
      query: 'loglevel: "ALERT"'
alert:
- "slack"
alert_subject: "{0} caught {1}"
alert_subject_args:
- appname
- loglevel
alert_text: "{0}"
alert_text_args:
- realmessage
alert_text_type: alert_text_only
{% if stand == 'prod': %}
slack_webhook_url: "https://hooks.slack.com/services/Txxxxxxxxxxxxxx"
{% elif stand == 'preprod': %}
slack_webhook_url: "https://hooks.slack.com/services/Tyyyyyyyyyyyyyyyyy"
{% endif %}
slack_username_override: "elastalert"
slack_msg_color: danger